.jumbotron {
	position: absolute;
	z-index: -1;
	margin: 0 0 0 0;
	position: relative;
	width: 100%;
	text-align: center;
}

/*.jumbotron img {
	height: 40em;
	width: 100%;
}*/

.jumbotron-title {
	position: absolute;
	/*bottom: -50px;*/
	right: 50px;
	text-shadow: 3px 3px 8px #000000;
	z-index: 1;
}

.jumbotron-title h1 { 
	font-family: 'StinkontheDeath';
	color: #FFFFFF;
	font-size:120px;
	font-style: normal;
	font-weight: 100;
	text-align: center;
}

.jumbotron1 {
	position: relative;
	z-index: 1;
	width: 100%;
}

.jumbotron2 {
	top: -500px;
	left: -100px;
	display: block;
	width: 100%;
	position: absolute;
	z-index: -2;
	-webkit-animation:spin 15s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 200s linear infinite;           /* W3C compliant browsers */
    -webkit-transform-origin: 70% 70%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }