@import url('http://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic,700,300');
@import url('http://fonts.googleapis.com/css?family=Jura:400,300');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
	font-family: 'Open Sans Condensed', italic;
	font-weight: 300, italic;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    margin: 0 auto;
    max-width: auto;
	width: 100%;
	height: 100%;
}

body {
	margin: 0 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2em;
	color: #004763;
}

nav {
	width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}