@import url('http://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic,700,300');
@import url('http://fonts.googleapis.com/css?family=Jura:400,300');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@charset 'UTF-8';
@font-face{
	font-family: 'StinkontheDeath';
	src: url(http://alohayamauchi.com/fonts/StinkontheDeath.ttf);
}

* {
	box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
	background-image: url("http://alohayamauchi.com/images/background/triangles-pattern.jpg");
    background-repeat: repeat;
    margin: 0 auto;
    max-width: auto;
	width: 100%;
	height: 100%;
}

body {
	margin: 0 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2em;
	color: #004763;
}

nav {
	height: 3em;
	text-align: center;
	box-shadow: 0px 5px 10px black;
}

h1, h2, h3, h4 {
	margin-top: 0; 
	margin-bottom: 0.5em;
}

h1 {
	font-size: 2em;
	color: white;
}

h2 {
	font-size: 1.0em;
	text-align: center;
}

h3 {
	font-family: 'Open Sans Condensed', italic;
	font-weight: 300, italic;
	font-size: 2em;
}

h4 {
	font-size: 0.8em;
}

a {
	color: #004763;
	text-decoration: none;
}

strong {
	font-weight: 700;
}

header {
	background: #004763;
}

main {
	height: 100%;
	background: #E8E8E8;
}

section {
	font-size: 1.5em;
	margin: 1em;
}

.about-me {
	height: 400px;
	border-bottom: 1px solid #004763;
	background: #E8E8E8;
	width: 100%;
}

.myself-pic {
	position: relative;
	width: 8em;
	border-radius: 5em;
	display: block;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

.about-me-name {
	text-align: center;
}

.about-me-description {
	position: relative;
	float: left;
	max-width: 400px;
	font-size: 20px;
	margin-left: 50px;
}

.about-me-detail {
	position: relative;
	float: right;
	max-width: 400px;
	right: 200px;
}

.img-holder {
	height: 500px;
	width: 100%;
	position: relative;
  -webkit-transform: translateZ(0);
}

.content {
	margin: 0 1.5em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 1.6em;
}

.content-italic {
	font-style: italic;
}

.content-date {
	float: right;
}

.skill-software {
	border-bottom: 1px solid #004763;
}

.certificates {
	border-bottom: 1px solid #004763;
}

.education {
	border-bottom: 1px solid #004763;
}

.fullpage-slide {
	text-align: center;
}
/*.parallaxParent {
		height: 100vh;
		overflow: hidden;
}

.parallaxParent > * {
		height: 200%;
		position: relative;
		top: -100%;
}
*/

#no_transition {
    transition: none !important;
}

#section1{
    background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
    background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
    background: linear-gradient(#4BBFC3,#7BAABE);
}
#section2{
    background: -webkit-gradient(linear, top left, bottom left, from(#7baabe), to(#969ac6));
    background: -webkit-linear-gradient(#7BAABE, #969AC6);
    background: linear-gradient(#7BAABE,#969AC6);
}
#section3{
    background: -webkit-gradient(linear, top left, bottom left, from(#969ac6), to(#92a1ca));
    background: -webkit-linear-gradient(#969AC6, #92A1CA);
    background: linear-gradient(#969AC6,#92A1CA);
}
#section4{
    background: -webkit-gradient(linear, top left, bottom left, from(#92a1ca), to(#76c2bd));
    background: -webkit-linear-gradient(#92A1CA, #76C2BD);
    background: linear-gradient(#92A1CA,#76C2BD);
}

#section5{
    background: -webkit-gradient(linear, top left, bottom left, from(#92a1ca), to(#76c2bd));
    background: -webkit-linear-gradient(#92A1CA, #76C2BD);
    background: linear-gradient(#92A1CA,#76C2BD);
}

.vs-section {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
}

.vs-section:nth-of-type(1) { background-image: url('http://alohayamauchi.com/images/background/AlohaYamauchi-JumboTron-Lanikai.png');}
.vs-section:nth-of-type(2) { background-color: #345678; }
.vs-section:nth-of-type(3) { background-image: url('https://unsplash.it/1920/1276?image=503'); }
.vs-section:nth-of-type(4) { background-image: url('https://unsplash.it/1920/1276?image=403'); }
.vs-section:nth-of-type(5) { background-image: url('https://unsplash.it/1920/1276?image=203'); }

.slide-div {
	background-color: rgba(0,0,0,0.65);
	padding: 5em 0;
	font-size: 3em;
	color: #fff;
	text-align: center;
}

.slick-slide {
	/*	get rid of blue outlines*/
	outline: none;
}

.slick-slide h1 {
	font-size: 1em;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all .7s ease;
}

.slick-slide h1:hover {
	color: teal;
	-webkit-transition: all .7s ease;
}

.slick-center h1 {
	content:'';
	font-size: 2em;
	color: yellow;
	-webkit-transition: all .7s ease;
}

footer {
	bottom: 0;
	color: #FFFFFF;
	background: #004763;
	text-align: center;
	margin: 0 0 0 0;
}

@-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}