@import url('http://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic,700,300');
@import url('http://fonts.googleapis.com/css?family=Jura:400,300');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@charset 'UTF-8';
@font-face{
	font-family: 'StinkontheDeath';
	src: url(http://alohayamauchi.com/fonts/StinkontheDeath.ttf);
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans Condensed', italic;
	font-weight: 300, italic;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
	background-image: url("http://alohayamauchi.com/images/background/triangles-pattern.jpg");
    background-repeat: repeat;
    margin: 0 auto;
    max-width: auto;
	width: 100%;
	height: 100%;
}
body {
	margin: 0 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2em;
	color: #004763;
}
header {
	position: relative;
	background: #298fb7;
}
nav {
	text-align: center;
	padding: 0.5em 0;
}
h1, h2, h3, h4 {
	margin-top: 0; 
	margin-bottom: 0;
}
/* H1 is for Nav Bar */
h1 {
	font-size: 1.7em;
	color: white;
}
/* H2 is for each slide's title */
h2 {
	margin: 0.2em 0;
	font-family: 'Open Sans Condensed', italic;
	font-weight: 300, italic;
	font-size: 2.5em;
	text-align: center;
}
/* H3 is for each slide's section's title  */
h3 {
	margin: 0.2em 0;
	font-family: 'Open Sans Condensed', italic;
	font-weight: 300, italic;
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

ul {
	padding-left: 0;
}

li {
	list-style:none;
}

a {
	color: #004763;
	text-decoration: none;
	z-index: 100;
}

strong {
	font-weight: 700;
}

section {
	font-size: 1.5em;
	margin: 1em;
}
/* Main "body" for each slider page */
.fp-tableCell {
	display: hidden;
}

#jy-logo-bg {
	background-color: #222222;
  	background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

.jy-logo-container {
	height: 100%;
	overflow-y: scroll;
	// position: relative;
}

.jy-ufo-div {
	position: absolute;
	top: 30px;
	left: 250px;
	-webkit-filter: drop-shadow(0px 0px 5px #298fb7);
	filter: drop-shadow(0px 0px 5px #298fb7);
}

#jy-ufo-svg {
	height: 500px;
	-webkit-filter: drop-shadow(0px 0px 10px #298fb7);
	filter: drop-shadow(0px 0px 10px #298fb7);
}

.jy-ufo-path {
	stroke: #fff;
}

.jy-logo-div {
	position: relative;
    // -webkit-animation: jy-logo-anim 1s linear infinite alternate;
    // -moz-animation: jy-logo-anim 1s linear infinite alternate;
    // animation: jy-logo-anim 1s linear infinite alternate;
}

#jy-logo-svg {
	top: 10px;
	left: 575px;
	width: 300px;
	-webkit-animation: jy-logo-anim 1s linear infinite alternate;
    -moz-animation: jy-logo-anim 1s linear infinite alternate;
    animation: jy-logo-anim 1s linear infinite alternate;
}

.jy-logo-path {
	stroke: #fff;
	stroke-width: 10;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.jy-logo-path:hover {

    -webkit-animation: none;
    -moz-animation: none;
	animation: none;
}

@-webkit-keyframes jy-logo-anim {
  from {
    -webkit-filter: drop-shadow(0 0 30px #298fb7);
  }
  to {
    -webkit-filter: drop-shadow(0 0 30px #004763);
  }
}

@-moz-keyframes jy-logo-anim {
  from {
    -moz-filter: drop-shadow(30 30 30px #298fb7);
  }
  to {
    -moz-filter: drop-shadow(0 30 30px #004763);
  }
}

@keyframes jy-logo-anim {
  from {
    filter: drop-shadow(0 0 10px #298fb7);
  }
  to {
    filter: drop-shadow(0 0 10px #fff);
  }
}

.section2 {
	height: 600px;
	overflow-y: scroll;
}

#career-column {
	padding-right: 0 !important;
	padding-left: 0;
}

.icon-bg {
	padding: 10px 0;
	// background-color: teal;
}

/* Increase the icons' size and customize */
#larger-icon {
	font-size: 3em;
	text-align: center;
}

#social-icons {
	margin: 0 20px;
	font-size: 4em;
}

#resume-div {
	padding: 0 20px 50px 20px;
	background: #BFF2AB;
	overflow: hidden;
}

/* Div for after the FullPage section */
.section-div {
	padding: auto;
	width: 100%;
	height: 100%;
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
}

#section-div-intro {
	background-color: black;
}

.skills-list {
	list-style:none;
	text-align: center;
	font-size: 1.5em;
}

#section-div-jared {
	padding: auto;
	width: 100%;
	height: 100%;
	background-image: url("http://www.alohayamauchi.com/images/background/AlohaYamauchi-JumboTron-Lanikai.png");
	background-size: 100%;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

.jumboTron-box {
	margin-top: 4em;
	padding-bottom: 0.5em;
	background-color:rgba(0, 0, 0, 0.5);
	font-size: 2em;
	border-top: 0.1em solid #298fb7;
	border-bottom: 0.1em solid #298fb7;
}

.jumboTron-box2 {
	padding-bottom: 0.5em;
	background-color:rgba(0, 0, 0, 0.5);
	border-top: 0.1em solid #298fb7;
	border-bottom: 0.1em solid #298fb7;
}

.jumboTron-box h2 {
	margin: 0.2em;
}

#jumboTron {
    height: 400px;
    background-size: cover;
    box-sizing: border-box;
    padding: 100px;
}

#skills-stars {
	text-align: right;
}

.contact-myself-pic {
	position: relative;
	float: left;
	left: 3em;
	width: 15em;
	border-radius: 10em;
	display: block;
	text-align: center;
	margin: 2em;
	box-shadow: -0.3em 0.3em 1em #000;
}

.content {
	margin: 0 1.5em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 1.6em;
}

.fullpage-slide {
	text-align: center;
}

#career-section {
	font-size: 1.6em;
	background-color: white;
}

.container-portfolio {
	padding-bottom: 5em;
}

#row-portfolio {
	margin-top: 2em;
	margin-bottom: 2em;
}

.portfolio-image-div {
    position: relative;
    display: block;
    width: 750px;
	height: 400px;
    overflow: hidden;
    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    margin: 0 auto;
}

.portfolio-image-div::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.portfolio-image-div:hover::before {
    background: rgba(0, 0, 0, .8);
}
/*Adjust the size for portfolio images*/
.portfolio-image {
	width: 750px;
	height: 400px;
}

.caption-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;

    -webkit-transform: translateY(100%);
    		transform: translateY(100%);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.portfolio-image-div:hover .caption-overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.caption-overlay-title {
    -webkit-transform: translateY( -webkit-calc(-100% - 50px) );
            transform: translateY( calc(-100% - 50px) );

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.portfolio-image-div:hover .caption-overlay-title {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.caption-overlay-content {
   font-size: 1.4em;
}

#no_transition {
    transition: none !important;
}

.slide-div {
	background-color: rgba(0,0,0,0.65);
	padding: 5em 0;
	font-size: 3em;
	color: #fff;
	text-align: center;
}

.slick-slide {
	/*	get rid of blue outlines*/
	outline: none;
}

.slick-slide h1 {
	margin: 0 3em;
	font-size: 2.5em;
	opacity: 0.5;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all .7s ease;
}

.slick-slide h1:hover {
	color: #BFF22B;
	opacity: 1;
	-webkit-transition: all .7s ease;
}

.slick-center h1 {
	content:'';
	opacity: 1;
	-webkit-transition: all .7s ease;
}

.skills-slider {
	max-width: 800px;
	margin: 0 200px;
}

.slider-img {
	width: 100%;
}

.section-blog {
	padding: 0 20px 50px;
}

#section-contact {
	vertical-align: bottom;
}

.contact {
	text-align: center;
}

footer {
	position: absolute;
	width: 100%;
	color: #FFFFFF;
	bottom: 3.7em;
	background: #298fb7;
	text-align: center;
}
/*   | RESPONSIVE CSS ONLY |   */
/*  Small or Regular Phones  */
/* Portrait */
@media only screen 
  and (min-device-width: 240px) 
  and (max-device-width: 375px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    [class*="col-"] {
        width: 100%;
    }
    body {
    	font-size: 1em;
    }

    nav {
    	padding: 0.7em 0;
    }

    h1 {
		font-size: 1em;
		color: white;
	}

	h2 {
		font-size: 1.2em;
		text-align: center;
	}

	h3 {
		font-size: 1.0em;
	}

    section {
    	font-size: 0.75em;
    }



    #section-div-jared{
		background-image: url("http://www.alohayamauchi.com/images/background/AlohaYamauchi-JumboTron-Lanikai.png");
		background-size: auto 100%;
		background-position: center;
		color: #fff;
	}

	.jumboTron-box {
		margin-top: 16em;
	}

	.jumboTron-box h2 {
		font-size: 2.3em;
	}

	.myself-pic {
		top: 3em;
		margin: 0 10%;
		width: 18em;
	}

	.container-portfolio {
		padding: 1em 3em;
	}

	.portfolio-image-div {
		width: 320px;
		height: 200px;
	}

	.portfolio-image {
		display: block;
		width: 320px;
		height: 200px;
	}

	.skills-list {
		font-size: 1em !important;
	}

	.slick-slide h1 {
		margin: 0 25px;
		font-size: 2.5em;
		opacity: 0.5;
		color: #fff;
		cursor: pointer;
		-webkit-transition: all .7s ease;
	}

	.slick-slide h1:hover {
		color: #BFF22B;
		opacity: 1;
		-webkit-transition: all .7s ease;
	}

	.slick-center h1 {
		content:'';
		opacity: 1;
		-webkit-transition: all .7s ease;
	}
	footer {
		position: absolute;
		width: 100%;
		color: #FFFFFF;
		bottom: 5em;
		background: #298fb7;
		text-align: center;
	}
}
/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 670px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    [class*="col-"] {
        width: 100%;
    }
     body {
    	font-size: 3em;
    }

    nav {
    	padding: 0.7em 0;
    }

    h1 {
		font-size: 1em;
		color: white;
	}

	h2 {
		font-size: 1.0em;
		text-align: center;
	}
    section {
    	font-size: 0.75em;
    }

	.slick-slide h1 {
		margin: 0 20px;
		font-size: 2.5em;
		opacity: 0.5;
		color: #fff;
		cursor: pointer;
		-webkit-transition: all .7s ease;
	}

	.slick-slide h1:hover {
		color: #BFF22B;
		opacity: 1;
		-webkit-transition: all .7s ease;
	}

	.slick-center h1 {
		content:'';
		opacity: 1;
		-webkit-transition: all .7s ease;
	}
}
/*  Small Phones (END) */
/*  Large Phones ie IPhone Plus  */
/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    [class*="col-"] {
        width: 100%;
    }
    body{
    	font-size: 3em;
    }

    h1 {
		font-size: 1em;
		color: white;
	}

	h2 {
		font-size: 1.0em;
		text-align: center;
	}

    section {
    	font-size: 0.75em;
    }

	.slick-slide h1 {
		margin: 0 50px;
		font-size: 1.1em;
		opacity: 0.5;
		color: #fff;
		cursor: pointer;
		-webkit-transition: all .7s ease;
	}

	.slick-slide h1:hover {
		color: #BFF22B;
		opacity: 1;
		-webkit-transition: all .7s ease;
	}

	.slick-center h1 {
		content:'';
		opacity: 1;
		-webkit-transition: all .7s ease;
	}
}
/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    [class*="col-"] {
        width: 100%;
    }
     body {
    	font-size: 3em;
    }
    h1 {
		font-size: 1em;
		color: white;
	}

	h2 {
		font-size: 1.0em;
		text-align: center;
	}
    section {
    	font-size: 0.75em;
    }

    .resume-slide {
		max-height: 10vh;
		display: inline-block;
		overflow-x: auto;
	}

	.slick-slide h1 {
		margin: 0 50px;
		font-size: 1.1em;
		opacity: 0.5;
		color: #fff;
		cursor: pointer;
		-webkit-transition: all .7s ease;
	}

	.slick-slide h1:hover {
		color: #BFF22B;
		opacity: 1;
		-webkit-transition: all .7s ease;
	}

	.slick-center h1 {
		content:'';
		opacity: 1;
		-webkit-transition: all .7s ease;
	}
}
/*   Big Phones (END)  */
/*  IPads & Other Tablets  */
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	body {
  		font-size: 4em;
  	}
  	.slick-slide h1:hover {
		color: #85E0FF;
		opacity: 1;
		-webkit-transition: all .7s ease;
	}
}
/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	body {
  		font-size: 4em;
  	}
  	 .slick-slide h1:hover {
		color: #85E0FF;
		opacity: 1;
		-webkit-transition: all .7s ease;
	}	
}
/*  IPads & Other Tablets (END)  */