@import url('http://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic,700,300');
@import url('http://fonts.googleapis.com/css?family=Jura:400,300');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@charset 'UTF-8';
@font-face{
	font-family: 'StinkontheDeath';
	src: url(http://alohayamauchi.com/fonts/StinkontheDeath.ttf);
}


* {
	box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
	background-image: url("http://alohayamauchi.com/images/background/triangles-pattern.jpg");
    background-repeat: repeat;
    margin: 0 auto;
    max-width: auto;
	width: 100%;
	height: 100%;
}

body {

	margin: 0 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 0.75em;
	color: #004763;
}

h1, h2, h3, h4 {
	margin-top: 0; 
	margin-bottom: 0.5em;
}

h1 {
	text-align: center;
	font-size: 5em;
}

h2 {
	font-size: 1.0em;
	text-align: center;
}

h3 {
	font-family: 'Open Sans Condensed', italic;
	font-weight: 300, italic;
	font-size: 0.9em;
}

h4 {
	font-size: 0.8em;
}

a {
	color: #004763;
	text-decoration: none;
}


strong {
	font-weight: 700;
}

header {
	background: #004763;
}


nav {
   padding: 5px;
   text-align: center;
   box-shadow: 0px 5px 10px black;
}

nav ul {
   margin: 0;
   padding: 0;    
}
nav li {
	letter-spacing: 2px;
	font-size: 1.5em;
	float: initial;
	display: inline;
	padding: 0.1em 0.8em;
	margin: 0 10px 0 0;
	color: #FFFFFF;
	list-style-type: none;
}
nav li a {
   color: #FFFFFF;  
   text-decoration: none;    
}
nav li a:hover {
   text-decoration: underline;   
}

main {
	height: 100%;
	background: #E8E8E8;
}

section {
	font-size: 1.5em;
	margin: 1em;
}


.jumbotron {
	position: absolute;
	z-index: -1;
	margin: 0 0 0 0;
	position: relative;
	width: 100%;
	text-align: center;
}

/*.jumbotron img {
	height: 40em;
	width: 100%;
}*/

.jumbotron-title {
	position: absolute;
	/*bottom: -50px;*/
	right: 50px;
	text-shadow: 3px 3px 8px #000000;
	z-index: 1;
}

.jumbotron-title h1 { 
	font-family: 'StinkontheDeath';
	color: #FFFFFF;
	font-size:120px;
	font-style: normal;
	font-weight: 100;
	text-align: center;
}

.jumbotron1 {
	position: relative;
	z-index: 1;
	width: 100%;
}

.jumbotron2 {
	top: -500px;
	left: -100px;
	display: block;
	width: 100%;
	position: absolute;
	z-index: -2;
	-webkit-animation:spin 15s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 200s linear infinite;           /* W3C compliant browsers */
    -webkit-transform-origin: 70% 70%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.about-me {
	height: 400px;
	border-bottom: 1px solid #004763;
	background: #E8E8E8;
	width: 100%;
}

.myself-pic {
	position: relative;
	width: 8em;
	border-radius: 5em;
	display: block;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;

}

.about-me-name {
	text-align: center;
}

.about-me-description {
	position: relative;
	float: left;
	max-width: 400px;
	font-size: 20px;
	margin-left: 50px;
}

.about-me-detail {
	position: relative;
	float: right;
	max-width: 400px;
	right: 200px;
}

.img-holder {
	height: 300px;
	width: 100%;
	position: relative;
}

.content {
	margin: 0 1.5em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 1.6em;

}


.content-italic {
	font-style: italic;
}

.content-date {
	float: right;
}

.skill-software {
	border-bottom: 1px solid #004763;
}

.certificates {
	border-bottom: 1px solid #004763;
}

.education {
	border-bottom: 1px solid #004763;
}

.parallaxParent {
		height: 100vh;
		overflow: hidden;
}

.parallaxParent > * {
		height: 200%;
		position: relative;
		top: -100%;
}

footer {
	bottom: 0;
	color: #FFFFFF;
	background: #004763;
	text-align: center;
	margin: 0 0 0 0;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }